// Navbar
.navbar {
  height: 20px;
  max-width: calc(#{$wide-size} - (#{$spacing-full} * 2));
  max-width: -webkit-calc(#{$wide-size} - (#{$spacing-full} * 2));
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid $light;
  padding: $spacing-full - 15px $spacing-full;
  z-index: 99;
  @extend %clearfix;
}

// Navigation
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: left;
  height: 70px;
  background-color: $white;
  border-bottom: 1px solid $light;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  a#mode {
    float: right;
    padding-top: 10px;
    right: 30px;
    top: 13px;
    position: relative;
    clear: both;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.7;
    z-index: 1;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    &:active {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }
    .mode-moon {
      display: block;
      line {
        stroke: $black;
        fill: none;
      }

      circle {
        fill: $black;
        stroke: $black;
      }
    }
    .mode-sunny {
      display: none;
      line {
        stroke: $dark-white;
        fill: none;
      }
      circle {
        fill: none;
        stroke: $dark-white;
      }
    }
  }

  .title {
    padding-left: 100px; 
    padding-top: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: $base-line-height + 1;
  }

  .trigger {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
  }

  .menu-trigger {
    display: none;
  }

  //
  // 메뉴 나열해서 보여주는 코드
  // 필요시 사용하면 됨.- .menu-link.actuve 전까지 삭제해야함
  //
  .menu-icon {
    display: none;
  }

  .menu-link {
    color: $black;
    line-height: $base-line-height + 1.5;
    text-decoration: none;
    padding: 5px 8px;
    opacity: 0.7;
    letter-spacing: 0.3px;

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.rss {
      position: relative;
      bottom: -3px;
      outline: none;
    }

    @include media-query($on-mobile) {
      opacity: 0.8;
    }
  }

  // ------- 추가된 코드
  // .menu-icon {
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   width: 50px;
  //   height: 23px;
  //   line-height: 0;
  //   padding-top: 13px;
  //   padding-bottom: 15px;
  //   cursor: pointer;
  //   text-align: center;
  //   z-index: 1;
  //   > svg {
  //     fill: $black;
  //     opacity: 0.7;
  //   }
  //   &:hover {
  //     > svg {
  //       opacity: 1;
  //     }
  //   }
  //   &:active {
  //     -webkit-transform: scale(0.9, 0.9);
  //     transform: scale(0.9, 0.9);
  //   }
  // }

  // input[type="checkbox"]:not(:checked) ~ .trigger {
  //   clear: both;
  //   visibility: hidden;
  // }

  // input[type="checkbox"]:checked ~ .trigger {
  //   position: fixed;
  //   animation: 0.2s ease-in forwards fadein;
  //   -webkit-animation: 0.2s ease-in forwards fadein;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: $white;
  //   height: 100vh;
  //   width: 100%;
  //   top: 0;
  // }

  // .menu-link {
  //   display: block;
  //   box-sizing: border-box;
  //   font-size: 1.1em;

  //   &:not(:last-child) {
  //     margin: 0;
  //     padding: 2px 0;
  //   }
  // }
  // -------
  
  .menu-link.active {
    opacity: 1;
    font-weight: 600;
  }

  @include media-query($on-mobile) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    height: 70px;
    background-color: $white;
    border-bottom: 1px solid $light;

    a#mode {
      right: 10px;
      top: 12px;
    }

    .title {
      padding-left: 0px;
      text-align: center;
    }

    .menu-icon {
      display: block;
      position: absolute;
      left: 0;
      width: 50px;
      height: 23px;
      line-height: 0;
      padding-top: 23px;
      padding-bottom: 15px;
      cursor: pointer;
      text-align: center;
      z-index: 1;
      > svg {
        fill: $black;
        opacity: 0.7;
      }
      &:hover {
        > svg {
          opacity: 1;
        }
      }
      &:active {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
      }
    }

    input[type="checkbox"]:not(:checked) ~ .trigger {
      clear: both;
      visibility: hidden;
    }

    input[type="checkbox"]:checked ~ .trigger {
      position: fixed;
      animation: 0.2s ease-in forwards fadein;
      -webkit-animation: 0.2s ease-in forwards fadein;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $white;
      height: 100vh;
      width: 100%;
      top: 0;
    }

    .menu-link {
      display: block;
      box-sizing: border-box;
      font-size: 1.1em;

      &:not(:last-child) {
        margin: 0;
        padding: 2px 0;
      }
    }
  }
}


// Sidebar
.sidebar {
  height: 20px;
  position: fixed;
  margin-right: 0;
  margin-left: 0;
  padding: $spacing-full - 15px $spacing-full;
  z-index: 99;
  @extend %clearfix;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: black;
}
.sidebar-item {
  padding: 1rem;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // z-index: 2;
  // text-align: left;
  // height: 70px;
  // background-color: $white;
  // border-bottom: 1px solid $light;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid rgba(255,255,255,.1);

  .trigger {
    // float: left;
    // padding-left: 30px;
    // padding-top: 10px;
  }

  .sidebar-trigger {
    display: none;
  }

  .sidebar-icon {
    display: none;
  }

  .sidebar-nav-item {
    display: block;
    padding: .5rem 1rem;
    border-top: 1px solid rgba(255,255,255,.1);
  }
  .sidebar-nav-item.active,
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
    border-color: transparent;
  }
  
  @include media-query($on-mobile) {
    display: none;

    .sidebar-item {
      padding: 1.5rem;
    }
    .sidebar-nav-item {
      padding-left:  1.5rem;
      padding-right: 1.5rem;
    }
  }
}


//-------------------------------------------------
// Sidebar 참고자료
// * https://github.com/poole/lanyon#readme
// // .wrap {
// //   position: relative;
// //   width: 100%;
// // }

// // /*
// //  * Sidebar
// //  *
// //  * The sidebar is the drawer, the item we are toggling with our handy hamburger
// //  * button in the corner of the page.
// //  *
// //  * This particular sidebar implementation was inspired by Chris Coyier's
// //  * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
// //  * comments by a reader. It modifies both implementations to continue using the
// //  * checkbox (no change in URL means no polluted browser history), but this uses
// //  * `position` for the menu to avoid some potential content reflow issues.
// //  *
// //  * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
// //  */

// // /* Style and "hide" the sidebar */
// // .sidebar {
// //   position: fixed;
// //   top: 0;
// //   bottom: 0;
// //   left: -14rem;
// //   width: 14rem;
// //   visibility: hidden;
// //   overflow-y: auto;
// //   font-family: "PT Sans", Helvetica, Arial, sans-serif;
// //   font-size: .875rem; /* 15px */
// //   color: rgba(255,255,255,.6);
// //   background-color: #202020;
// //   -webkit-transition: all .3s ease-in-out;
// //           transition: all .3s ease-in-out;
// // }
// // @media (min-width: 30em) {
// //   .sidebar {
// //     font-size: .75rem; /* 14px */
// //   }
// // }

// // /* Sidebar content */
// // .sidebar a {
// //   font-weight: normal;
// //   color: #fff;
// // }
// // .sidebar-item {
// //   padding: 1rem;
// // }
// // .sidebar-item p:last-child {
// //   margin-bottom: 0;
// // }

// // /* Sidebar nav */
// // .sidebar-nav {
// //   border-bottom: 1px solid rgba(255,255,255,.1);
// // }
// // .sidebar-nav-item {
// //   display: block;
// //   padding: .5rem 1rem;
// //   border-top: 1px solid rgba(255,255,255,.1);
// // }
// // .sidebar-nav-item.active,
// // a.sidebar-nav-item:hover,
// // a.sidebar-nav-item:focus {
// //   text-decoration: none;
// //   background-color: rgba(255,255,255,.1);
// //   border-color: transparent;
// // }

// // @media (min-width: 48em) {
// //   .sidebar-item {
// //     padding: 1.5rem;
// //   }
// //   .sidebar-nav-item {
// //     padding-left:  1.5rem;
// //     padding-right: 1.5rem;
// //   }
// // }

// // /* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
// // .sidebar-checkbox {
// //   position: absolute;
// //   opacity: 0;
// //   -webkit-user-select: none;
// //      -moz-user-select: none;
// //           user-select: none;
// // }

// // /* Style the `label` that we use to target the `.sidebar-checkbox` */
// // .sidebar-toggle {
// //   position: absolute;
// //   top:  .8rem;
// //   left: 1rem;
// //   display: flex;
// //   align-items: center;
// //   padding: .25rem .75rem;
// //   color: #505050;
// //   background-color: #fff;
// //   border-radius: .25rem;
// //   cursor: pointer;
// // }

// // .sidebar-toggle::before {
// //   display: inline-block;
// //   width: 32px;
// //   height: 32px;
// //   content: "";
// //   background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
// // }

// // .sidebar-toggle:active,
// // #sidebar-checkbox:focus ~ .sidebar-toggle,
// // #sidebar-checkbox:checked ~ .sidebar-toggle {
// //   color: #fff;
// //   background-color: #555;
// // }

// // .sidebar-toggle:active:before,
// // #sidebar-checkbox:focus ~ .sidebar-toggle::before,
// // #sidebar-checkbox:checked ~ .sidebar-toggle::before {
// //   background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
// // }

// // @media (min-width: 30.1em) {
// //   .sidebar-toggle {
// //     position: fixed;
// //   }
// // }

// // @media print {
// //   .sidebar-toggle {
// //     display: none;
// //   }
// // }

// // /* Slide effect
// //  *
// //  * Handle the sliding effects of the sidebar and content in one spot, seperate
// //  * from the default styles.
// //  *
// //  * As an a heads up, we don't use `transform: translate3d()` here because when
// //  * mixed with `position: fixed;` for the sidebar toggle, it creates a new
// //  * containing block. Put simply, the fixed sidebar toggle behaves like
// //  * `position: absolute;` when transformed.
// //  *
// //  * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
// //  */

// // .wrap,
// // .sidebar,
// // .sidebar-toggle {
// //   -webkit-backface-visibility: hidden;
// //       -ms-backface-visibility: hidden;
// //           backface-visibility: hidden;
// // }
// // .wrap,
// // .sidebar-toggle {
// //   -webkit-transition: -webkit-transform .3s ease-in-out;
// //           transition: transform .3s ease-in-out;
// // }

// // #sidebar-checkbox:checked + .sidebar {
// //   z-index: 10;
// //   visibility: visible;
// // }
// // #sidebar-checkbox:checked ~ .sidebar,
// // #sidebar-checkbox:checked ~ .wrap,
// // #sidebar-checkbox:checked ~ .sidebar-toggle {
// //   -webkit-transform: translateX(14rem);
// //       -ms-transform: translateX(14rem);
// //           transform: translateX(14rem);
// // }
//-------------------------------------------------

// Author
.author {
  margin-top: 6.3rem;
  margin-bottom: 7.2rem;
  text-align: center;

  @include media-query($on-mobile) {
    margin-bottom: 3em;
  }

  .author-avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    user-select: none;
    background-color: $black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation: 0.5s ease-in forwards fadein;
    animation: 0.5s ease-in forwards fadein;
    opacity: 1;
  }

  .author-name {
    font-size: 1.7em;
    margin-bottom: 2px;
  }

  .author-bio {
    margin: 0 auto;
    opacity: 0.9;
    max-width: 393px;
    line-height: 1.688;
  }

  // current canvas
  .current{
    margin-top: 20px;
    width: 100%;
    height: 30px;
  }
}

// Contact
.contact {
  margin-top: 0.3rem;
  margin-bottom: 3.2rem;
  text-align: center;

  @include media-query($on-mobile) {
    margin-bottom: 3em;
  }

  .contact-avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    user-select: none;
    background-color: $black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation: 0.5s ease-in forwards fadein;
    animation: 0.5s ease-in forwards fadein;
    opacity: 1;
  }

  .contact-name {
    font-size: 1.7em;
    margin-bottom: 2px;
  }

  .contact-bio {
    margin: 0 auto;
    opacity: 0.9;
    max-width: 393px;
    line-height: 1.688;
  }
}

// Content
.posts-item-note {
  font-size: $base-font-size;
  font-weight: 700;
  margin-bottom: 5px;
  color: $black;
}

// List of posts
.post-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  @extend %clearfix;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .post-item-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

  .post-item-title {
    width: 400px; /* 가로 길이 고정*/ 
    text-overflow: ellipsis; /* 생략 처리 ( ... )*/ 
    white-space: nowrap; /* 줄바꿈 하지 않고 잘림*/ 
    overflow: hidden; /* 스크롤 처리 하지 않음*/
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: 700;
    letter-spacing: 0.1px;

    a {
      color: $black;
      
      &:hover,
      &focus {
        color: $black;
      }
    }
  }

  .post-item-tag {
    margin-left: 10px;
    letter-spacing: 0.5px;
    width: 150px; /* 가로 길이 고정*/ 
    text-overflow: ellipsis; /* 생략 처리 ( ... )*/ 
    white-space: nowrap; /* 줄바꿈 하지 않고 잘림*/ 
    overflow: hidden; /* 스크롤 처리 하지 않음*/

    .tag {
      padding: 1px 3px;
      border-radius: 2px;
      background-color: #c5cae9;
      color: black;
      font-weight: $bold-weight;
      font-size: $small-font-size - 2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-item-date {
    margin-top: 3px;
    margin-left: 12px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.1px;

    @include media-query($on-mobile) {
      font-size: 13px;
    }
  }
}

// Footer
.footer {
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;

  @include media-query($on-mobile) {
    margin-top: 3em;
  }
  span.footer_item {
    color: $black;
    opacity: 0.8;
    font-weight: $bold-weight;
    font-size: $small-font-size;
  }
  a.footer_item {
    color: $black;
    opacity: 0.8;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;
      &:hover {
        opacity: 1;
      }
    }
  }

  .footer_copyright {
    font-size: $small-font-size - 1;
    margin-top: 3px;
    display: block;
    color: $gray;
    opacity: 0.8;
  }
}

.not-found {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  .title {
    font-size: 5em;
    font-weight: $bold-weight;
    line-height: 1.1;
    color: $black;
    text-shadow: 1px 0px 0px $text-link-blue;
  }
  .phrase {
    color: $text-base-color;
  }
  .solution {
    color: $text-link-blue;
    letter-spacing: 0.5px;
  }
  .solution:hover {
    color: $text-link-blue-active;
  }
}


.search-article {
  position: relative;
  margin-bottom: 50px;

  label[for="search-input"] {
    position: relative;
    top: 10px;
    left: 11px;
  }

  input[type="search"] {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 40px;
    outline: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    color: $text-base-color;
    -webkit-appearance: none;
    font-size: $base-font-size;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);
    &::-webkit-input-placeholder {
      color: #808080;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

#search-results {
  text-align: center;
  li {
    text-align: left;
  }
}

.archive-tags {
  height: auto;
  .tag-item {
    padding: 1px 3px;
    border-radius: 2px;
    // border: 1px solid #F5F7FA;
    background-color: #c5cae9;
    color: black;
    font-weight: $bold-weight;
    // font-size: $small-font-size - 2;

  }
}

.blog-contents {
  .item {
    color: black;
    text-decoration: underline;
  }
}

// timeline
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.timeline {
  h1 {
    text-align: center;
    font-weight: 300;
  }
  .container {
    width: 90%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
  }

  .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
  }

  .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
  }

  .timeline-block-right {
    float: right;
  }

  .timeline-block-left {
    float: left;
    direction: rtl
  }

  .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9
  }

  .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
  }

  .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 501
  }

  .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
  }

  .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
  }

  @media screen and (max-width: 768px) {
    .container:before {
      left: 8px;
      width: 2px;
    }
    .timeline-block {
      width: 100%;
      margin-bottom: 30px;
    }
    .timeline-block-right {
      float: none;
    }

    .timeline-block-left {
      float: none;
      direction: ltr;
    }
  }
}

// projects
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.projects {
  .container {
    width: 90%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
  }
  
  .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1.5%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
  }
  
  .timeline-block {
    width: -webkit-calc(100% + 8px);
    width: -moz-calc(100% + 8px);
    width: calc(100% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    margin-bottom: 30px;
  }
  
  .timeline-block-right {
    float: none;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  
  .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9
  }
  
  .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
  }
  
  .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 505
  }
  
  .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
  }
  
  .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
  }
  
  @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
  }
}


