<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <input type="checkbox" id="sidebar-trigger" class="sidebar-trigger" />
    <label for="sidebar-trigger">
      <span class="sidebar-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 512 512"
        >
          <path
            d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
          />
        </svg>
      </span>
    </label>

    <div class="trigger">
      <div class="trigger-container">
        <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="/">Home</a>

        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}
    
        <a class="sidebar-nav-item" href="/archive">Archive</a>
        <a class="sidebar-nav-item" href="/blog">Blog</a>
        <a class="sidebar-nav-item" href="/CS">CS</a>
        <a class="sidebar-nav-item" href="/ML-DL">ML/ DL</a>
        <span class="sidebar-nav-item">-----</span>
        <a class="sidebar-nav-item" href="/about">About</a>
        <a class="sidebar-nav-item" href="/projects">Projects</a>
        <a class="sidebar-nav-item" href="/contact">Contact</a>
      </div>
    </div>
  </nav>

  <!-- <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div> -->
</div>
