---
layout: default
title: Tags
permalink: /tags/
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<section class="post-list">
  <div class="container">
    <ul class="tag-box inline">
      <h1 class="category-title">Tags</h1>
      {% for tag in tag_words %}
        <a href="#{{ tag | cgi_escape }}">{{ tag }} <span>{{ site.tags[tag] | size }}</span></a>
      {% endfor %}
    </ul>

    {% for item in (0..site.tags.size) %}
      {% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <h3 class="category-title">{{ this_word }}</h3>
        
        <article class="post-item">
          {% for post in site.tags[this_word] %}
            {% if post.title != null %}
              <span class="post-meta date-label">{{ post.date | date: "%b %d, %y" }}</span>  
              <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
            {% endif %}
          {% endfor %}
        </article>
      {% endunless %}
    {% endfor %}
  </div>
</section>
