---
title: Problem Solving
permalink: /ps/
layout: page
excerpt: All post.
comments: false
---

{% assign target = "problem-solving" %}

{%- for post in site.categories[target] -%}
    <article class="post-item" id="results-container">
      <img
      class="post-item-image"
      src="{{ post.image }}"
      />
      <h4 class="post-item-title">
        <a href="{{ post.url }}">{{ post.title | escape }}</a>
      </h4>
      {% if post.tags and post.tags != empty %}
      <div class="post-item-tag">
        {% assign tags = post.tags %}
        <span itemprop="keywords">
          {% for tag in tags %}
          <a class="tag"
            href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </span>
      </div>
      {% endif %}
      <span class="post-item-date">{{ post.date | date: "%Y/%m/%d" }}</span> 
    </article>
  {%- endfor -%}